/* @charset <“UTF-8”>; */
/* CSS Document */

#jgrlogo { 
    width: 50px;
    height: auto;
}

body { 
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
    margin: 50px;
    background-color: #fbfbf6;
    /* background-color: #fffaf0; */
    line-height: 2
}

/* body * {
    line-height: 2;
} */

header > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 310px;

}

header > ul > li {
    margin: 0px 5px;
}

/* header-ul { 
    position: absolute; 
    left: 3%; 
    top: 18%; 
}

header-li { 
    padding: 4%; 
    list-style-type: none; 
} */

h1 {
    font-weight: bold;
    position: absolute;
    left: 115px;
    /* top: calc(60px + (20px - 0.49em)); */
    top: 65px;
    font-size: 25pt;
}

main {
    margin-top: 75px;
}

main > p {
    margin: 5px;
}

#imgofme1 {
    max-width: 200px;
}

.portfoliocardcontainer {
    display: flex;
    /* flex-direction: row; 
    temp change for temp portfolio*/
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.portfoliocard {
    flex: 1 1 300px;
    /* max-width: 500px; 
    temp change for temp portfolio*/
    min-width: 300px;
    background-color: goldenrod;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.thirdlink {
    display: none;
}

/* just for tempportfolio!*/
#portfoliocard_4, #portfoliocard_5 {
    display: none;
}

.portfoliocardtitle {
    font-weight: bold;
}

#iframe1, #iframe2, #iframe3, #iframe4 {
    display: block;
    margin: auto;
}

#iframe2, #iframe3 {
    width: 50%;
    height: 700px;
}

.supplementalimg, .supplementaltext {
    display: block;
    margin: auto;
    max-width: 50%;
}

.supplementaltext {
    text-align: center;
}

.supplementalimg {
    border-radius: 10px;
}

#sketches {
    max-width: 75%;
}

.sideblurb {
    float: right;
    padding-left: 50px;
    max-width: 250px;
}

.sideblurb > img {
    border-radius: 10px;
}

@media only screen and (max-width: 500px) {
    h1 {
        top: 40px;
        max-width: 150px;
        font-size: 20pt;
    }
}