/* @charset <“UTF-8”>; */
/* CSS Document */

#jgrlogo { 
    width: 50px;
    height: auto;
}

body { 
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
    margin: 50px;
    background-color: #fbfbf6;
    /* background-color: #fffaf0; */
    line-height: 2
}

header > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 310px;
}

header > ul > li {
    margin: 0px 5px;
}

/* header-ul { 
    position: absolute; 
    left: 3%; 
    top: 18%; 
}

header-li { 
    padding: 4%; 
    list-style-type: none; 
} */

h1 {
    font-weight: bold;
    position: absolute;
    left: 115px;
    /* top: calc(60px + (20px - 0.49em)); */
    top: 50px;
    font-size: 25pt;
}

.portfoliocard > h3 {
    font-size: 125%;
    font-weight: bold;
}

main {
    margin-top: 25px;
}

main > p {
    margin: 5px;
}

#imgofme1 {
    max-width: 400px;
    margin: 50px 0px 150px 50px;
    float: right;
    border-radius: 10px;
}

.portfoliocardcontainer {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    justify-content: center;
}

.portfoliocard {
    flex-grow: 1;
    flex-shrink: 4;
    /*flex: 1 1 300px;*/
    /* max-width: 500px;
    min-width: 300px; */
    background-image: linear-gradient(goldenrod, goldenrod);
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    min-height: 70px;
    /* make this transition into background-image later if that's at all possible! */
    transition: background-image 1s, min-height 1s, color 1s;
    padding: 30px;
}

/* .thirdlink {
    display: none;
} */

/* just for tempportfolio!
#portfoliocard_4, #portfoliocard_5 {
    display: none;
} */

.portfoliocardtitle {
    font-weight: bold;
    text-align: center;
    font-size: 20pt;
}

#iframe1, #iframe2, #iframe4, #iframe5 {
    display: block;
    margin: auto;
}

#iframe2, #iframe3 {
    width: 50%;
    height: 700px;
}

#iframe3 {
    margin-top: 20px;
    margin-left: 23px;
}

.supplementalimg, .supplementaltext {
    display: block;
    margin: auto;
    max-width: 50%;
}

.supplementaltext {
    text-align: center;
}

.supplementalimg {
    border-radius: 10px;
}

.supplementalimg2 {
    max-width: 75%;
}

.sideblurb {
    float: right;
    padding-left: 50px;
    max-width: 250px;
}

.sideblurb > img {
    border-radius: 10px;
}

.portfoliocard:focus {
    min-height: 1500px;
    flex-direction: column;
    color: white;
}

#portfoliocard_1:focus {
    background-image: linear-gradient(#2b3e66, #90b6d8);
}

#portfoliocard_2:focus {
    background-image: linear-gradient(#BA4552, #BD7B46, #CFBC5E, #1FC39E, #0D80CF);
}

#portfoliocard_3:focus {
    background-image: linear-gradient(#C4C4C4, #FFEB79, #FFAA04, #E36615, #8CAC33);
}

/* futz with this man a bit to get some better results from this color spectrum */
#portfoliocard_4:focus {
    background-image: linear-gradient(#FFFFFF, #f30f0c, #f8ec04, #12469c);
}

#portfoliocard_5:focus {
    background-image: linear-gradient(#2f5929, #2f5929);
}

#msgclogo, #icclogo, #frontporchlogo, #hang5logo {
    height: auto;
    max-width: 200px;
    float: right;
    margin: 15px;
    border-radius: 10px;
}

.accessibilitypic {
    height: auto;
    max-width: 300px;
    margin: 15px;
}

#pyetbrainstormingdiv > img {
    max-width: 300px;
}

/* #pyetbrainstormingdiv, #accessibilitypicdiv, #heuristicevalpicdiv, #affinitywalldiv {
    text-align: center;
} */

.deliverablediv {
    text-align: center;
}

.iframetype1 {
    min-width: 300px;
    width: 60%;
    height: auto;
    min-height: 300px;
}

.iframetype2 {
    min-width: 400px;
    width: 80%;
    height: auto;
    min-height: 350px;
}

#frontporchuserflow {
    width: 80%;
}

#frontporchstyleguide {
    width: 45%;
    float: left;
    border-radius: 10px;
    position: relative;
    top: 28vw;
}

#frontporchwireframe {
    width: 53%;
    min-width: 400px;
    height: auto;
    min-height: 350px;
    float: right;
}

#iframe3, .roundcorners {
    border-radius: 10px;
}

#frontporchwhiteboarding {
    width: 50%;
    min-width: 400px;
    height: auto;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}

#frontporchpersonas {
    min-width: 500px;
    height: auto;
    margin: 0px auto 20px auto;
    display: block;
}

#frontporchwhiteboardingtext {
    text-align: center;
    position: relative;
    top: 5vw;
}

#frontporchpaperprototype {
    float: right;
    /* width: 70%; */
    margin-left: 20px;
    margin-bottom: 20px;
    max-width: 300px;
    height: 709px;
}

#frontporchpaperprototypetext {
    position: relative;
    top: 15vw;
}

.msgcboard {
    max-width: 70%;
    height: auto;
}

/*.cardhoverclass {
    flex-grow: 20;
}

.cardnothoverclass {
    flex-shrink: 2;
}*/

@media only screen and (max-width: 500px) {
    h1 {
        top: 45px;
        max-width: 150px;
        font-size: 20pt;
        line-height: 1;
    }
}